/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 60px;
    background-color: white;
    padding: 0.5rem  1.3rem;
}
header>img{
    height: 100%;
    vertical-align: middle;
    margin-right: 0.1rem;
}
h1{
    font-weight: bold;
    display: inline;
    vertical-align: middle;
}
li{
    padding-bottom: 0.7rem;
}
h2{
    padding-bottom: 0.5rem;
}
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;

}
main{
    width: 70%;
    margin: 30px auto;
    background-color: white;
    border-radius: 5px;
}
section.upper-section{
    border-bottom: 2px solid #f6f8f9;
    padding: 0.5rem 0;
    padding-left: 2rem;
}
.add-button{
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 3px;
    font-size: 0.5rem;
}
.blue-color{
    background-color: #47adf1;
    color: white;
}
.white-color{
    background-color: white;
    color: grey;
    border: 1px solid grey;
    
}
section.lower-section{
    padding-left: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.8rem;

}
ul{
    list-style-type: none;
    font-size: 0.8rem;

}
.check-mark{
    color: #21df21;
    border: 1px solid #21df21;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    font-size: 0.85rem;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.cross-mark{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    font-size: 0.85rem;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.pills{
    border-radius: 8px;
    border: none;
    padding: 5px 7px;
    font-size: 0.45rem;
}
.violet-color{
    background-color: #9b71e3;
    color: white;
}
.aqua-color{
    background-color: #64bfa8;
    color: white;
}
.orange-color{
    background-color: #f19d32;
    color: white;
}
.magenta-color{
    background-color: #d762a0;
    color: white;
}
.lightgreen-color{
    background-color: #b0c926;
    color: white;
}